data/
docs/
models/
notebooks/.ipnyb_checkpoints
notebooks/Business_Understanding
notebooks/Data_Preparation
notebooks/Data_Understanding_EDA
notebooks/Data_Understanding
notebooks/Modeling_spread
references/
reports/
src/
.env
LICENSE
Makefile
*.txt
*.py
*.ini
